.image_track {
  display: flex;
  flex-wrap: nowrap;
  gap: 4vmin;
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
  overflow-x: auto;
  padding-right: 300px;
  overflow-y: hidden;
}

.image_track::-webkit-scrollbar {
  display: none;
}

.image {
  /* width: 35vmin;
  height: 50vmin; */
  width: 270px;
  height: 370px;
  object-fit: cover;
  /* object-position: 100% center; */
}

.co {
  color: white;
}