.parent {
    /* width: 100%;
    max-width: 100vw; */
    overflow-x: hidden;
}

.first_cake,
.first_bouquet,
.first_valentine,
.first_letter,
.first_gloomy,
.first_future,
.first_universe {
    position: relative;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: scroll;
    width: 100%;
    /* max-width: 100vw; */
    height: 100vh;
    overflow-x: hidden;
}

.first_cake {
    background-image: url("https://dsm01pap007files.storage.live.com/y4m89yW1PswXBK_HC2QCYo1tQ4mILQx-VGbCc3hEO_LnAYDwfw8UeZeXCisyk_l32WRcru5yJ27YzMivCApjcddLZQpRUBmpjDBeHcsETSn-adYc8iUA9PYZcZ6bcHvoRsL82e30fhIS7EKsVqSvVahU1SmDf9malyVP2a2efi2MuwuMFBG8b_oBbnx0eEeiQ0H?width=1138&height=1142&cropmode=none");
}

.first_bouquet {
    background-image: url("https://dsm01pap007files.storage.live.com/y4m63YCk7kXGIh6NRyA1v15uTxDrCPMFwoyCQHEEoyh0b-3IN3-hVPKevdzdXTI77-hiWXC-7jveqk7qRKItrJNhdMskntuA6wBmnQW0sJ1yZjHdQLPQvdso01rZarXAGwOAeABVOu92HpHB_QanWjdLNyzFHFAFEsmyl9px-m85Pq4P06_Z_aol8jCkXaDIje5?width=1018&height=1156&cropmode=none");
}

.first_valentine {
    background-image: url("https://dsm01pap007files.storage.live.com/y4mT81P7JhNq_7I-Q5ACIdbcbLiGztVbzaVOdI0RYaoOZaytpvAiHr0dRg2IxmxBzBTsR5CAQH3jJewDZtApGxIQPPqcXMZ22LFXvhCKp1yIAV_Xwh0yHSLAYbIwOymwmbb93zXRJGtuTpIOPLqsv3lRu8zHnjEKy83UhLDGFd-F8pjeZs8NCvbvNgepg0xmHwn?width=1846&height=1380&cropmode=none");
}

.first_letter {
    background-image: url("https://dsm01pap007files.storage.live.com/y4m6AMEg2_urekoU2Mvj7JCcKV-sJEvACc7fBZ9T_vIk07nN95mgMSOkXESfmqY03l7bvZ_IHIWh2tkWCynmPxHVVGYa1dc5VwxXCykjfbWPoAf2W5OXBMinzhkz4fVbnd--KxkLtUky4g4NVASbGn0dIlp2DfKMgE1lYuXmO9cuOluxlaJ9kSkvRbSFgCwk-sv?width=4032&height=2455&cropmode=none");
}

.first_gloomy {
    background-image: url("https://dsm01pap007files.storage.live.com/y4m7LvfszimsomH_2MyGlkyYhSfdvgE07ExaXptH-0qsOXBVh0bkuYBAZXPjj-_aW44EeCcetYL3peLEpVZxuH8MIE2tIle_asIi9cLlcPiH2rVo46-fPyL0cNGBIxdMAswS1bsGRbLgN0V3FTjWH2MHqpmDf_QRzX2fxDXVNlk98ThKRSstA4Zn3engrQdCYbI?width=682&height=343&cropmode=none");
}

.first_future {
    background-image: url("https://dsm01pap007files.storage.live.com/y4mcMgihURVzaF6gMVnG_B5qBPwhbhBWGB-zhqAxG3NqzEGoUegp78g75Ia_YFquLPbnCCL9kreTiLwxNP2upgwzwoAAy4MVAshdt38fO0F8lGvtFxTNzj9dmNpbdlm-nY4NPb2kggjMc5pFNP_895xqlMf_UgdGzn4dVo1OTiJSCuuDI3pczQ9wGSSVNeyDq_d?width=1738&height=960&cropmode=none0");
}

.first_universe {
    background-image: url("https://dsm01pap007files.storage.live.com/y4m09sRURrZBcCNX4GbuIKOCK6kBbb0Hv-nPuzsGh9zPhPxwbtukZvuPIYF4hNqio_rUXWBIWbQzeUaU6fMXCjxHPy3XnNpsdgEhOx7X9OEpw1MUHyGV-Lj4q7ma59EbTR3j-OIigcmOCkU7FNQMRXQalbzYsqnp6aO9vfiUv22fyB49rJZ8Y2BuAHTqW5o7Hwf?width=985&height=570&cropmode=none");
}

.image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: inline-block;
}

.back {
    position: fixed;
    top: 30px;
    left: 25px;
    transition: all 500ms;
}

.back:hover {
    color: rgb(253, 158, 174);
}

.text {
    height: 100vh;
    width: 30%;
    margin-left: auto;
    margin-right: 0;
    padding: 30px 80px 50px 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title1 {
    font-size: 2.8rem;
    transition: all 500ms;
}

.title2 {
    margin: 30px 0px 10px 0px;
    font-size: 1.5rem;
    transition: all 500ms;
}

.text2 {
    font-size: 1rem;
    font-weight: 300;
    /* color: rgb(246, 242, 242); */
    color: white;
    transition: all 500ms;
}

.wrap {
    margin: 10px 0px;
}

/* .title1:hover,
.title2:hover,
.text2:hover {
    color: rgb(253, 158, 174);
} */

.scroll_down {
    margin: 50px 0px 20px 0px;
    font-size: 1rem;
}

.down_icon {
    margin: 50px 0px 20px 0px;
    border: 1px solid white;
    font-size: 2.6rem;
    padding: 12px;
    border-radius: 18px;
    transition: all 1s;
}

.down_icon:hover {
    border-color: rgb(253, 158, 174);
}

.second {
    width: 100%;
    background-color: rgb(20, 20, 20);
    height: auto;
    display: flex;
    flex-direction: column;
}

.story_start {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    max-width: 35vw;
    max-height: 40vh;
    margin: 225px auto;
}

.story_wrap {
    margin: 50px auto;
    color: white;
    text-align: center;
}

.story_image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    max-width: 50vw;
    max-height: 45vh;
}

.story_image2 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    max-width: 40vw;
    max-height: 45vh;
}

.story_text {
    text-align: center;
    font-weight: 300;
    margin: 10px 0px 30px 0px;
}

/* div:last-of-type .story_text {
    margin-bottom: 50px;
} */

section:last-child div:last-child .story_text {
    margin-bottom: 150px;
}

@media screen and (max-width: 1150px) {
    .text {
        width: 35%;
        padding: 30px 70px 50px 30px;
    }

    .title1 {
        font-size: 2.6rem;
        transition: all 500ms;
    }

    .title2 {
        margin: 30px 0px 10px 0px;
        font-size: 1.4rem;
    }

    .text2 {
        font-size: 1rem;
    }

    .story_start {
        max-width: 40vw;
        max-height: 40vh;
    }

    .story_image2 {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        max-width: 45vw;
        max-height: 45vh;
    }
}

@media screen and (max-width: 900px) {
    .text {
        width: 40%;
        padding: 30px 50px 50px 30px;
    }

    .title1 {
        font-size: 2.5rem;
        transition: all 500ms;
    }

    .title2 {
        margin: 30px 0px 10px 0px;
        font-size: 1.3rem;
    }

    .text2 {
        font-size: 0.95rem;
    }

    .down_icon {
        margin: 40px 0px 15px 0px;
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 640px) {
    .text {
        width: 45%;
        padding: 30px 40px 50px 20px;
    }

    .title1 {
        font-size: 2.2rem;
        transition: all 500ms;
    }

    .title2 {
        margin: 20px 0px 10px 0px;
        font-size: 1.2rem;
    }

    .text2 {
        font-size: 0.9rem;
    }

    .down_icon {
        margin: 30px 0px 10px 0px;
        font-size: 2.6rem;
    }
}